body {
    font-family: Verdana;
    background-color: white;
    color: black;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    font-size: 48px;
    text-align: left;
    padding-top: 15px;
}
