body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: 'Roboto', sans-serif;
}
#logo {
    text-align: left;
    width: 500px;
}
#banner {
    width: 960px;
    padding-top: 1%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    float: left;
}
ul li a {
    text-align: center;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
    color: black;
}
section {
    width: 65%;
    float: left;
}
h1, h2, h3, h4 {
    font-weight: 300;
}
#picture2 {
    width: 240px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
article {
    width: 32%;
    float: right;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 1%;
    color: white;
    margin-bottom: 0.5%;
}
#article1 {
    background-color: #DBC9DF;
}
#article2 {
    background-color: #782A7E;
}

.fix{
    clear: both;
}
footer {
    text-align: center;
    background-color: #363636;
    color: white;
}